name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write

env:
  CSV_URL: "MLproject/train_pca.csv"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - uses: actions/checkout@v3

      # Setup Python
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      # Check Env
      - name: Check Env
        run: |
          echo $CSV_URL

      # Install mlflow + deps
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow numpy pandas scikit-learn

      # Run MLflow project
      - name: Run mlflow project
        run: |
          mlflow run . --env-manager=local

      # Save mlruns to repo
      - name: Save mlruns to repo
        run: |
          git config --global user.name "${{ secrets.username }}"
          git config --global user.email "${{ secrets.email }}"
          git add -f mlruns/
          git commit -m "Save mlruns from CI run" || echo "Nothing to commit"
          git push origin main
